<app-layout>

  <body>
    <app-sidebar>
      <div class="container-fluid">

        <div class="container">
          <!-- Title -->
          <div class="d-flex justify-content-between align-items-center py-3">
            <h2 class="h5 mb-0"><a href="#" class="text-muted"></a> Colocar opções nesse espaço</h2>
          </div>

          <!-- Main content -->
          <div class="row">
            <div class="col-lg-8">
              <!-- Details -->
              <div class="card mb-4">
                <div class="card-body">
                  <div class="mb-3 d-flex justify-content-between">
                    <div>
                      <span class="me-3 mr-4">Pedido #16123222</span>
                      <span class="badge rounded-pill bg-info">SHIPPING</span>
                    </div>
                    <div class="d-flex">
                      <button class="btn btn-link p-0 me-3 d-none d-lg-block btn-icon-text"><i
                          class="bi bi-download"></i> <span class="text">Editar Pedido</span></button>
                    </div>
                  </div>
                  <table class="table table-borderless" *ngFor="let product of order?.products">
                    <tbody>
                      <tr>
                        <td>
                          <div class="d-flex mb-2">
                            <div class="flex-shrink-0">
                              <img src="https://www.bootdey.com/image/280x280/87CEFA/000000" alt="" width="35"
                                class="img-fluid">
                            </div>
                            <div class="flex-lg-grow-1 ms-3">
                              <h6 class="small mb-0"><a href="#" class="text-reset">{{product.product.name}}</a></h6>
                              <div class="product-additions" *ngFor="let addition of product.additions">
                                <span *ngIf="addition">{{addition}}</span>
                                <!-- <span class="small"></span><br /> -->
                              </div>
                            </div>
                          </div>
                        </td>
                        <td>1x</td>
                        <td class="text-end">R$79,99</td>
                      </tr>
                      <tr>
                        <td>
                          <div class="d-flex mb-2">
                            <div class="flex-shrink-0">
                              <img src="https://www.bootdey.com/image/280x280/FF69B4/000000" alt="" width="35"
                                class="img-fluid">
                            </div>
                            <div class="flex-lg-grow-1 ms-3">
                              <h6 class="small mb-0"><a href="#" class="text-reset">Smartwatch IP68 Waterproof GPS and
                                  Bluetooth Support</a></h6>
                              <span class="small">Color: White</span>
                            </div>
                          </div>
                        </td>
                        <td>1x</td>
                        <td class="text-end">R$79,99</td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <td colspan="2">Subtotal</td>
                        <td class="text-end">R$159,98</td>
                      </tr>
                      <tr>
                        <td colspan="2">Entrega</td>
                        <td class="text-end">R$7.00</td>
                      </tr>
                      <tr>
                        <td colspan="2">Disconto (Cupom: NEWYEAR)</td>
                        <td class="text-danger text-end">R$10.00</td>
                      </tr>
                      <tr class="fw-bold">
                        <td colspan="2">TOTAL</td>
                        <td class="text-end">$169,98</td>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
              <!-- Payment -->
              <div class="card mb-4">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-6">
                      <h3 class="h6">Forma de Pagamento</h3>
                      <p>PIX<br>
                        Total: $169,98 <span class="badge bg-success rounded-pill">PAGO</span></p>
                    </div>
                    <div class="col-lg-6">
                      <h3 class="h6">Endereço de Entrega</h3>
                      <address>
                        <strong>Lucas de Lucen Siqueira</strong><br>
                        <p>Avenida Marechal Floriano Peixoto, 5000 - Malvinas</p>
                        <p>Complemento: Bloco A, Casa 15</p>
                        <p>Referência: Condomínio ao lado do TRAUMA</p>
                      </address>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <!-- Customer Notes -->
              <div class="card mb-4">
                <div class="card-body">
                  <h3 class="h6">Ações</h3>
                  <p>Imprimir</p>
                  <p>Despachar</p>
                  <p>Cancelar</p>
                </div>
              </div>
              <!-- Customer Notes -->
              <div class="card mb-4">
                <div class="card-body">
                  <h3 class="h6">Detalhes</h3>
                  <p>Feito às: 17:30</p>
                  <p>Previsão de entrega: 18:30</p>
                </div>
              </div>
              <div class="card mb-4">
                <!-- Shipping information -->
                <div class="card-body">
                  <h3 class="h6">Cliente</h3>
                  <span><a href="#" class="text-decoration-underline" target="_blank">Lucas de Lucena Siqueira</a> <i
                      class="bi bi-box-arrow-up-right"></i> </span>
                  <p>83 986907270</p>
                  <hr>
                  <address>
                    <strong>15° Pedido na Loja</strong><br>
                  </address>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </app-sidebar>
  </body>
</app-layout>
