<section id="cards">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card custom-card yellow-gradient-bg">
            <div class="card-body d-flex align-items-center justify-content-between">
              <div>
                <mat-icon>campaign</mat-icon>
              </div>
              <div class="text-right">
                <h5 class="card-title custom-title">Novos pedidos</h5>
                <p class="card-text custom-value">200</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card custom-card light-pink-bg">
            <div class="card-body d-flex align-items-center justify-content-between">
              <div>
                <mat-icon>done</mat-icon>
              </div>
              <div class="text-right">
                <h5 class="card-title custom-title">Pedidos concluídos</h5>
                <p class="card-text custom-value">15</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card custom-card light-blue-bg">
            <div class="card-body d-flex align-items-center justify-content-between">
              <div>
                <mat-icon>attach_money</mat-icon>
              </div>
              <div class="text-right">
                <h5 class="card-title custom-title">Faturamento hoje</h5>
                <p class="card-text custom-value">R$ 26.456,00</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  